

*{
    margin: 0;
    padding: 0;
}


body{
    background: linear-gradient(135deg, blue, red);
    height: 100vh;
    /* width: 100vw; */
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500;
    gap: 20px;
}

.leftbox, .rightbox{
    height: 400px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.288);
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
li{
    list-style: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 90%;
    background-color: orange;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
    cursor: grab;
}

@media (max-width: 400px){
    li{
        font-size: 15px;
        padding: 8px;
    }
}